/* Text color 
-------------------------------------------------- */
.red-txt {
  color: $fire-engine-red !important;
}
.dark-grey-txt {
  color: $shuttle-grey !important;
}
.grey-txt {
  color: $white-lilac !important;
}
.light-grey-txt {
  color: $zircon !important;
}
.white-txt {
  color: $white !important;
}

/* Background color 
-------------------------------------------------- */
.bg {
  &-silver {
    background-color: $white-lilac;
  }
}

/* Title 
-------------------------------------------------- */
.liveh-title {
  font-family: "OpenSans-ExtraBold";
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: -1px;
  color: $shuttle-grey;
}
.etrio-title {
  font-family: "OpenSans-Regular";
  font-size: 24px;
  line-height: 1.25;
  color: $fire-engine-red;
  margin: 0;
}

/* Text 
-------------------------------------------------- */
.txt-normal {
  font-family: "OpenSans-Regular";
  font-size: 18px;
  line-height: 1.33;
  color: $shuttle-grey;
}
.text-uppercase {
  text-transform: uppercase;
}

/* Holder
-------------------------------------------------- */
.hr {
  &-etrio {
    width: 100%;
    max-width: unset;
    height: 0;
    border: 0;
    border-top: 1px solid;
    margin: 0;
    padding: 0;
  }
}

/* Flexbox 
-------------------------------------------------- */
.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* Skip to main content
-------------------------------------------------- */
#skip a {
  display: block;
  position: absolute;
  left: -999px;
  top: -999px;
  z-index: 1000;
}
#skip a:focus {
  left: 0;
  top: 0;
  padding: 3px;
  background: $zircon;
  border: 1px solid $fire-engine-red;
}

/* Accessibility
-------------------------------------------------- */
.sr-only {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/*=============================================
=                   Form Section              =
=============================================*/

/* Select
-------------------------------------------------- */

.select-rounded {
  position: relative;
  font-family: OpenSans-Bold, sans-serif;
  display: inline-block;
  &--full {
    width: 100% !important;
  }
  &__label {
    line-height: 42px;
    font-size: 18px;
    display: inline-block;
    margin: 0 25px 30px 0;
    width: 80px;
    text-align: left;
    &:last-of-type {
      margin-bottom: 0;
    }
    @media screen and (min-width: 768px) {
      width: auto;
      text-align: right;
      margin-bottom: 0;
    }
  }
  .select-selected {
    padding: 12px 50px 12px 22px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.7px;
    color: $shuttle-grey;
    cursor: pointer;
    width: 100%;
    text-align: left;
    user-select: none;
    border-radius: 21px;
    border: solid 1px $shuttle-grey;
    background-color: $white;
    &::after,
    &::before {
      content: "";
      width: 8px;
      height: 0;
      border-top: 1px solid $shuttle-grey;
      display: block;
      position: absolute;
      top: 21px;
    }
    &::after {
      transform: rotate(45deg);
      right: 40px;
    }
    &::before {
      transform: rotate(135deg);
      right: 34px;
    }
    &.select-arrow-active {
      &:after {
        transform: rotate(135deg);
        right: 40px;
      }
      &::before {
        transform: rotate(45deg);
        right: 34px;
      }
    }
    &-active {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-bottom: transparent;
    }
  }
  &--inline {
    width: calc(100% - 109px);
    .select-selected {
      text-align: left;
    }
    @media screen and (min-width: 768px) {
      width: auto;
    }
  }
  .select-items {
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: $white;
    overflow: auto;
    max-height: 160px;
    border: solid 1px $shuttle-grey;
    border-top: 0;
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    li {
      color: $shuttle-grey;
      padding: 0 16px 12px;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 0.7px;
      cursor: pointer;
      user-select: none;
      &::before {
        content: "";
        display: block;
        width: 100%;
        margin: 0 auto;
        height: 0;
        border-top: 1px solid $white-lilac;
        margin-bottom: 10px;
      }
      &.same-as-selected {
        background-color: $white-lilac;
      }
      &:hover,
      &:focus {
        color: $fire-engine-red;
      }
    }
  }
  .select-hide {
    display: none;
  }
  select {
    display: none;
    &.form-etrio__error {
      + .select-selected {
        background-color: $snow;
        border-color: $fire-engine-red;
      }
    }
  }
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $suva-grey;
  }
}

/* End of Select
-------------------------------------------------- */

/*============  End of Form Section  =============*/
