/*  
    Color names reference: https://www.color-blindness.com/color-name-hue/
*/

/* whites */
$white: #ffffff;
$white-smoke: #f6f6f6;
$snow: #fff0f0;

/* greys */
$zircon: #eff0f0;
$shuttle-grey: #63666a;
$nero: #1b1b1b;
$gallery: #e0dbd7;
$grey-chateau: #a1a3a5;
$suva-grey: #888888;
$charcoal: #4a4a4a;

/* blacks */
$black: #000000;

/* reds */
$fire-engine-red: #d12420;
$coral-candy: #f6d3d2;
$falu-red: #930d18;

/* blues */
$white-lilac: #e0e0e1;
$dodger-blue: #4d90fe;
$maya-blue: #7aacfe;

/* violets */
$dolphin: #65656a; 

/* yellows (black) */
$maire: #27251f;

/* greens */
$green: #048600;


